body {
	background: url("../images/res.jpg");
}

#app>div{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#logo {
	z-index: 50;
	position: relative;
	margin-top: 5px;
	margin-left: 5px;
}

.slide-out-brand {
	margin: 10px 0 0 30px;
}

#signin-card {
	margin: 15px 0;
}

#modal-close-icon {
	top: 10px;
	right: 10px;
}

#partyform-content {
	padding: 30px 40px 0 40px;
}

#partyform-row-wrapper {
	 margin-top: 20px;
}

.party-row {
	font-size: 12px;
	height: 110px;
}

.custom-btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
    font-size: 10px;
}

.edit-btn, .cancel-btn, .arrived-btn {
	margin: 2px 0;
}

.session-msg {
	width: 300px;
	margin: 20px auto 10px auto;
	padding: 10px;
	opacity: .8;
	text-align: center;
	border-radius: 10px;
	z-index: 600;
	position: relative;
}

.success-msg {
	background-color: #ddddff;
	color: #4444ee;
	text-shadow: 1px 1px 1px white;
}

.error-msg {
	background-color: #ff7777;
	color: #222;
  text-shadow: 0 0 10px white;
}

.notice-msg {
	background-color: #ffdd88;
	color: #444444;
	text-shadow: 1px 1px 1px white;
}

#dashboard-card-title {
	padding: 10px; 
	margin-bottom: 0;
}

#header-card-title {
	width: 50%; 
	margin: 8px auto;
}